<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Главная. {{ base.company }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    {# откомпиленый LESS  #}
    <link rel="stylesheet" type="text/css" href="{{ base.STATIC_URL }}css/style.css" media="screen">

    <!--  авто компиляция LESS  -->
    <link rel="stylesheet/less" type="text/css"  href="{{ base.STATIC_URL }}less/style.less" >
    <script src="static/js/less-1.3.0.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ base.STATIC_URL }}css/other.css" media="screen">

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ base.STATIC_URL }}css/ie_hack7.css" media="screen"><![endif]-->

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ base.STATIC_URL }}css/ie_hack8.css" media="screen"><![endif]-->

    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ base.STATIC_URL }}css/ie_hack9.css" media="screen"><![endif]-->

</head>
<body>

    <div class="container">
    {% block container %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://yandex.st/jquery/1.7.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="{{ base.STATIC_URL }}lib/jquery-1.8.3.js"><\/script>');</script>
    <script src="{{ base.STATIC_URL }}lib/modernizr/modernizr.js"></script>
    <script src="{{ base.STATIC_URL }}lib/js-webshim/dev/polyfiller.js"></script>
    <script>
        //load and implement all unsupported features
        $.webshims.polyfill();
    </script>

    <script src="{{ base.STATIC_URL }}js/project.js"></script>

    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-transition.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-alert.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-modal.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-tab.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-popover.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-button.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-carousel.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-typeahead.js"></script>
    <script src="{{ base.STATIC_URL }}js/bootstrap/bootstrap-affix.js"></script>


    {% block templates_list %}
        {% if templates %}
            {% include '__tmpl.html' %}
        {% endif %}
    {% endblock %}

</body>
</html>