<div id='templates_list'>
    <div class="toggle">&raquo;</div>
    {% if templates %}
        {{ templates|safe }}
    {% endif %}
</div>

<script>
$(document).ready(function() {
     $('#templates_list .toggle').click(function() {
        if($(this).parent().hasClass('active')) {
            $(this).parent().removeClass('active');
            $(this).html('&raquo;')

        } else {
             $(this).parent().addClass('active')
             $(this).html('&laquo;')
        }
     })
})
</script>

<style> 
#templates_list {
    background: #424242;
    margin: 30px 0 0 0;
    padding: 0;
    width: 270px;
    position: fixed;
    color: #c0c0c0;
    left: -270px;
    top: 0;
    transition: left .3s linear;
    -webkit-transition: left .3s linear;
    -moz-transition: left .3s linear;
}
#templates_list.active {
    left: 0;
}

#templates_list ol  {
    counter-reset: item;
    margin-left: 0;
    overflow-y: auto;
    max-height: 800px;
    padding: 0;
}

#templates_list li {
    display: block;
    margin-bottom: 0;
    padding: 0;
    margin-left: 0px;
}
#templates_list li + li {
    border-top: 1px solid #5C5C5C;
}
.include:hover {
    background: #424242 !important;
}
.include ul {
    margin: 0;
    padding: 0;
    display: none;
    background: #002B14;
}
.include ul li:hover {
    background: #021B07 !important;
}
.include strong {
    display: block;
    padding: 4% 12% 4% 4%;
    color: #fff;
    width: 84%;
    background: #294634;
    cursor: pointer;
    position: relative;
    font-size: 12px;
}
.include strong:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid #fff;
    border-bottom: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    right: 20px;
    top: 20px;
}

#templates_list li:hover {
    background: #707070;
}
#templates_list li a:before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    padding: 3px;
    background: #fff;
    border-radius: 50%;
    min-width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
    color: #000;
    border: 2px solid rgba(0,0,0,.7);
}

 #templates_list a {
    color: #fff;
    display: block;
    padding: 7px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
 }


#templates_list > .toggle {
    position: absolute;
    background: #424242;
    width: 44px;
    height: 44px;
    right: -44px;
    color: #fff;
    top: 0;
    font-size: 50px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
</style>
